{
    "plugins": [
        "prettier-plugin-tailwindcss"
    ],
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "printWidth": 120
}